################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0-windows
/obj
/bin/Release/net8.0-windows/win-x64
